In [1]:
# Imports 
import pandas as pd
import matplotlib.pyplot as plt 

%matplotlib inline 

plt.style.use('seaborn')

In [13]:
df = pd.read_csv('../data/ign_reviews.csv')
df.head()

,rating,date,comment_count,name,month,year,console,comment_rank,rate_rank
0,9.0,2021-02-17,84,valheim early access,2,2021,unknown,medium,high
1,8.0,2021-02-11,74,ys ix: monstrum nox,2,2021,unknown,medium,medium
2,7.0,2021-02-10,1291,super mario 3d world + bowser’s fury,2,2021,unknown,high,medium
3,8.0,2021-02-09,377,persona 5 strikers,2,2021,unknown,medium,medium
4,7.0,2021-02-09,117,little nightmares 2,2,2021,unknown,medium,medium

In [25]:
df.groupby(['year', 'rating'])['rating'].value_counts()

year  rating  rating
2013  2.7     2.7       1
      3.0     3.0       1
      3.5     3.5       4
      4.0     4.0       3
      4.3     4.3       3
                       ..
2021  4.0     4.0       1
      6.0     6.0       1
      7.0     7.0       5
      8.0     8.0       7
      9.0     9.0       3
Name: rating, Length: 361, dtype: int64